* {
    box-sizing: border-box;
}

body {
    background: #F5F7FB;
    overflow: auto;
    width: 100vw;
    height: 100vh;

}

.main-container {
    display: grid;
    place-items: center;
    height: 100vh;

}

.app-container {
    min-width: 412px;
    max-width: 100vh;
    box-shadow: 2px 1px 3px 2px rgb(158 125 125 / 30%);
    padding: 50px;
}

.app-container p {
    color: #293264;
    font-size: 1rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-bottom: 29px;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #293264;
    margin-bottom: 7px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.app-container a {
    text-decoration: none;
    padding: 16px 28px;
    background: #4D5B9E;
    color: #F5F7FB;
    display: block;
    text-align: center;
    border-radius: 15px;

}